.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 242, 244);
  height: 100vh;
  flex-direction: column;
}

.main-box{
  background-color: rgb(65, 189, 189);
  height: 50vh;
  width: 50vw;
  
}
.Btgrp{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.Bt{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: 10px;

}
.bt1{
  background: red;
}
.bt2{
  background: yellow;
}
.bt3{
  background: green;
}
.bt4{
  background: blue;
}

